<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card border-primary mb-3">
                <div class="card-header">Saved Articles</div>
                <div class="card-body">
                    <ul class="list-group">
            {{#each savedData}}
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-12 col-md-9">
                    <a href="{{this.link}}"><h3 class="saved-article-title">{{this.title}}</h3></a>
                        </div>
                        <!--<div class="col-sm-12 col-md-3 text-right">-->
                    <button data-articleid="{{this._id}}" id="deleteSaved" class="btn btn-danger col-sm-12 col-md-3 text-center">DELETE FROM SAVED</button>
                        <!--</div>-->
                    </div>
                </li>
            {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
