<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card border-primary mb-3">
                <div class="card-header">Saved Articles</div>
                <div class="card-body">
                    <ul class="list-group">
            {{#each savedData}}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="{{this.link}}"><h3 class="saved-article-title">{{this.title}}</h3></a>
                    <button data-articleid="{{this._id}}" id="deleteSaved" class="btn btn-danger">DELETE FROM SAVED</button>
                </li>
            {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
