.jumbotron-fluid {
    background-image: url("http://wanabo.com/wp-content/uploads/2015/04/technology-e1429134415930-1024x435.jpg");
    height: 300px;
    padding: 65px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 10px;
    width: 100%;
    text-align: center;
    background-color: #aaa;
    color: #ddd;
    font-size: 15px;
    border-top: 8px solid #1690c4dc;
    opacity: 0.7;
    z-index: 3;
}

.card-img-top {
    height: 160px;
    width: 300px;
}